* {
    border: black dashed 1px;  
}

header {
    background: lightgray;
    width: 100%;
    height: 75px;
    position: absolute;
}
    
header h1 {
    margin-top: 10px;
    font-size: 3em;
    font-family: Arial, sans-serif;
    text-align: center;
}
  
#content {
    width: 100%;
    position: absolute;
    top: 80px;
}
    
#add_content {
    position: absolute;
    top: 0;
    height: 100px;
}
    
/****** FORM ********/

form {
    display: block;
    width: 100%;
}

input {
    display: block; 
    margin: 10px;
}

input[type="text"] {
    margin-left: 200px;
}

#additem, #addcat {
    position: absolute;
    height: 25px;
    border-radius: 5px;
}

#additem {
    top: 0
    }

#addcat {
    top: 35px;
} 


/****** LIST ******/

#list {
    position: absolute;
    top: 100px;
    width: 100%;
    background: lightblue;
}

       
.category, .item {
    height: 45px;
    border: 1px black solid;
}

.category h1, .item h1 {
    display: inline-block;
    margin: 10px 35px;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}

.category {
    background-color: navy;
    color: white;
}

.item {
    background-color: lightblue;
}

.done {
    font-style: italic;
    text-decoration: line-through;
    opacity: 0.5;
}

/*** BUTTTONS ***/

.btn {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #84bbf3;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	background:-ms-linear-gradient( top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #79bbff), color-stop(100%, #378de5) );
	background-color:#79bbff;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #528ecc;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
 	-moz-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
 	box-shadow:inset 1px 1px 0px 0px #bbdaf7;
}

.btn:hover {
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background:-ms-linear-gradient( top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #378de5), color-stop(100%, #79bbff) );
	background-color:#378de5;
}

.btn:active {
	position:relative;
	top:1px;
}

.dlt {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #d83526;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	background:-ms-linear-gradient( top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa665a), color-stop(100%, #d34639) );
	background-color:#fa665a;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #98231a;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fab3ad;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fab3ad;
 	box-shadow:inset 1px 1px 0px 0px #fab3ad;
}

.dlt:hover {
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	background:-ms-linear-gradient( top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d34639), color-stop(100%, #fa665a) );
	background-color:#d34639;
}

.dlt:active {
	position:relative;
	top:1px;
}